<template>
    <div>
        <h2 id="page-heading">
      <span v-text="$t('calcformsApp.decentralizeDecisionMaking.home.title')"
            id="decentralize-decision-making-heading">Decentralize Decision Makings</span>
            <button v-on:click="addRow()" id="save-entity"
                    class="btn btn-primary">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span
                    v-text="$t('calcformsApp.decentralizeDecisionMaking.home.createLabel')"> Create a new row</span>
            </button>
        </h2>
        <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown = 0"
            @dismiss-count-down="countDownChanged">
            {{ alertMessage }}
        </b-alert>
        <br/>
        <div class="alert alert-warning"
             v-if="!isFetching && decentralizeDecisionMakings && decentralizeDecisionMakings.length === 0">
            <span
                v-text="$t('calcformsApp.decentralizeDecisionMaking.home.notFound')">No decentralizeDecisionMakings found</span>
        </div>
        <div class="table-responsive"
             v-if="decentralizeDecisionMakings && decentralizeDecisionMakings.length > 0">
            <table class="table table-striped" id="myTable">
                <thead>
                <tr>
                    <th>
                        <span
                            v-text="$t('calcformsApp.decentralizeDecisionMaking.decision')"></span>
                    </th>
                    <th>
                        <span
                            v-text="$t('calcformsApp.decentralizeDecisionMaking.frequent')"></span>
                    </th>
                    <th>
                        <span
                            v-text="$t('calcformsApp.decentralizeDecisionMaking.timeC')"></span>
                    </th>
                    <th>
                        <span
                            v-text="$t('calcformsApp.decentralizeDecisionMaking.econoS')"></span>
                    </th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="decentralizeDecisionMaking in decentralizeDecisionMakings"
                    :key="decentralizeDecisionMaking.id">
                    <td>
                        <input
                            v-model="decentralizeDecisionMaking.decision"
                            id="decentralizeDecisionMaking.decision"
                            v-on:change="save(decentralizeDecisionMaking)"
                            type="text"
                        />
                        <p id="erreur_decision" style="color: red"></p>
                        <label
                            for="decentralizeDecisionMaking.decision"></label>
                    </td>
                    <td>
                        <input
                            type="checkbox"
                            id="decentralizeDecisionMaking.frequent"
                            v-model="decentralizeDecisionMaking.frequent"
                            v-on:change="save(decentralizeDecisionMaking)"
                        />
                        <label
                            for="decentralizeDecisionMaking.frequent"></label>
                    </td>
                    <td>
                        <input
                            type="checkbox"
                            id="decentralizeDecisionMaking.timeC"
                            v-model="decentralizeDecisionMaking.timeC"
                            v-on:change="save(decentralizeDecisionMaking)"
                        />
                        <label for="decentralizeDecisionMaking.timeC"></label>
                    </td>
                    <td>
                        <input
                            type="checkbox"
                            id="decentralizeDecisionMaking.econoS"
                            v-model="decentralizeDecisionMaking.econoS"
                            v-on:change="save(decentralizeDecisionMaking)"
                        />
                        <label for="decentralizeDecisionMaking.econoS"></label>
                    </td>

                    <td>
                        {{
                            calculTotal(decentralizeDecisionMaking.frequent, decentralizeDecisionMaking.timeC, decentralizeDecisionMaking.econoS)
                        }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <b-button
                                v-on:click="prepareRemove(decentralizeDecisionMaking)"
                                variant="danger" class="btn btn-sm"
                                v-b-modal.removeEntity>
                                <font-awesome-icon
                                    icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline"
                                      v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p id="demo"></p>
        </div>
        <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title">
        <span id="calcformsApp.decentralizeDecisionMaking.delete.question"
              v-text="$t('entity.delete.title')"
        >Confirm delete operation</span
        >
      </span>
            <div class="modal-body">
                <p
                    id="jhi-delete-decentralizeDecisionMaking-heading"
                    v-text="$t('calcformsApp.decentralizeDecisionMaking.delete.question', { id: removeId })"
                >
                    Are you sure you want to delete this Decentralize Decision
                    Making?
                </p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary"
                        v-text="$t('entity.action.cancel')"
                        v-on:click="closeDialog()">Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    id="jhi-confirm-delete-decentralizeDecisionMaking"
                    v-text="$t('entity.action.delete')"
                    v-on:click="removeDecentralizeDecisionMaking()"
                >
                    Delete
                </button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./decentralize-decision-making.component.ts">
</script>

