<template>
  <div>
    <h2 id="page-heading">
      <span v-text="$t('calcformsApp.weightedShortestJobFirst.home.title')" id="weighted-shortest-job-first-heading"
        >Weighted Shortest Job Firsts</span
      >

      <button v-on:click="addRow()" id="save-entity" class="btn btn-primary">
        <font-awesome-icon icon="plus"></font-awesome-icon>
        <span v-text="$t('calcformsApp.weightedShortestJobFirst.home.createLabel')"> Create a new Weighted Shortest Job First </span>
      </button>
    </h2>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="alertType"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ alertMessage }}
    </b-alert>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && weightedShortestJobFirsts && weightedShortestJobFirsts.length === 0">
      <span v-text="$t('calcformsApp.weightedShortestJobFirst.home.notFound')">No weightedShortestJobFirsts found</span>
    </div>
    <div class="table-responsive" v-if="weightedShortestJobFirsts && weightedShortestJobFirsts.length > 0">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.feature')">Feature</span></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.userBV')">User BV</span></th>
            <th></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.timeC')">Time C</span></th>
            <th></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.rroe')">Rroe</span></th>
            <th></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.coD')">CoD</span></th>
            <th></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.jobS')">Job S</span></th>
            <th></th>
            <th><span v-text="$t('calcformsApp.weightedShortestJobFirst.wsjf')">WSJF</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="weightedShortestJobFirst in weightedShortestJobFirsts" :key="weightedShortestJobFirst.id">
            <td>
              <input
                id="weightedShortestJobFirst.feature"
                v-model="weightedShortestJobFirst.feature"
                v-on:change="save(weightedShortestJobFirst)"
                type="text"
              />
            </td>
            <td>
              <input
                id="weightedShortestJobFirst.userBV"
                v-model="weightedShortestJobFirst.userBV"
                v-on:change="save(weightedShortestJobFirst)"
                type="number"
                min="0"
              />
              <p id="erreur_userBV" style="color: red"></p>
            </td>
            <td>+</td>
            <td>
              <input
                id="weightedShortestJobFirst.timeC"
                v-model="weightedShortestJobFirst.timeC"
                v-on:change="save(weightedShortestJobFirst)"
                type="number"
                min="0"
              />
            </td>
            <td>+</td>
            <td>
              <input
                id="weightedShortestJobFirst.rroe"
                v-model="weightedShortestJobFirst.rroe"
                v-on:change="save(weightedShortestJobFirst)"
                type="number"
                min="0"
              />
            </td>
            <td>=</td>
            <td>
              {{
                parseInt(weightedShortestJobFirst.userBV) +
                parseInt(weightedShortestJobFirst.timeC) +
                parseInt(weightedShortestJobFirst.rroe)
              }}
            </td>
            <td>/</td>
            <td>
              <input
                id="weightedShortestJobFirst.jobS"
                v-model="weightedShortestJobFirst.jobS"
                v-on:change="save(weightedShortestJobFirst)"
                type="number"
                min="0"
              />
            </td>
            <td>=</td>
            <td>
              {{
                (parseInt(weightedShortestJobFirst.userBV) +
                  parseInt(weightedShortestJobFirst.timeC) +
                  parseInt(weightedShortestJobFirst.rroe)) /
                parseInt(weightedShortestJobFirst.jobS)
              }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <b-button v-on:click="prepareRemove(weightedShortestJobFirst)" variant="danger" class="btn btn-sm" v-b-modal.removeEntity>
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="calcformsApp.weightedShortestJobFirst.delete.question" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p
          id="jhi-delete-weightedShortestJobFirst-heading"
          v-text="$t('calcformsApp.weightedShortestJobFirst.delete.question', { id: removeId })"
        >
          Are you sure you want to delete this Weighted Shortest Job First?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-weightedShortestJobFirst"
          v-text="$t('entity.action.delete')"
          v-on:click="removeWeightedShortestJobFirst()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./weighted-shortest-job-first.component.ts">
</script>
